// Place all the styles related to the Spells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spells-index {
  display: flex; /* or inline-flex */
  flex-direction: row;
  width: 100%;
}
.spells-index form {
  width: 15%;
}
.spells-index table{
  width: 85%;
}
